# File extensions:
*.bak
*.rpt
*.summary
*.qpf
*.qsf
*.qws
*.done
*.pin
*.pof
*.sof
*.exe
*.yaml
*.wlf
*.o 
*.log
*.lock
*.tmp
*.saif
.*
*.ini

# Files
transcript
*samples.txt
results-*.txt

# Directories global
**/db/
**/incremental_db/
**/output_files/
**/simulation/
**/.vscode/
**/work/

# Directories
HW_filter/code/common/