# File extensions:
*.bak
*.rpt
*.summary
*.qpf
*.qsf
*.qws
*.done
*.pin
*.pof
*.sof
*.exe
*.yaml
*.wlf
*.o 
*.log
*.lock
*.tmp

# Files
transcript

# Directories global
**/db/
**/incremental_db/
**/output_files/
**/simulation/
**/.vscode/
**/work/